<div class="col-xs-12">
    <table class="table">
        <thead>
            <tr>
                <td>Exame</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="exameSol in aCtrl.atendimento.examesSolicitados">
                <td>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user-md"></i>
                        </div>
                        <select class="form-control" name="exameSolicitado" id="exameSolicitado" ng-disabled="aCtrl.tabDelete" ng-model="exameSol.procedimento"></select>
                    </div>
                </td>
                <td class="table-actions">
                    <button class="btn btn-success" ng-class="{disabled: aCtrl.tabDelete}"><i class="fa fa-plus"></i></button>
                    <button class="btn btn-warning" ng-class="{disabled: aCtrl.tabDelete}"><i class="fa fa-clone"></button>
                    <button class="btn btn-danger" ng-class="{disabled: aCtrl.tabDelete}"><i class="fa fa-trash-o"></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>