<div class="col-xs-12 col-sm-12">
    <table class="table">
        <thead>
            <tr>
                <td>Medicamento</td>
                <td>Instruções</td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="receituario in aCtrl.atendimento.receituario">
                <td>
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="fa fa-user-md"></i>
                        </div>
                        <select class="form-control" name="medicamento" id="medicamento" ng-disabled="aCtrl.tabDelete" ng-model="receituario.medicamento"
                            ng-options="m.nomeGenerico for m in aCtrl.medicamentos track by m._id"></select>
                    </div>
                </td>
                <td>
                    <div class="input-group">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-list"></i>
                            </div>
                            <input type="text" class="form-control" name="notaReceituario" ng-disabled="aCtrl.tabDelete" id="notaReceituario" ng-model="receituario.instrucoes"></input>
                        </div>
                    </div>
                </td>
                <td class="table-actions">
                    <button class="btn btn-success" ng-class="{disabled: aCtrl.tabDelete}"><i class="fa fa-plus"></i></button>
                    <button class="btn btn-danger" ng-class="{disabled: aCtrl.tabDelete}"><i class="fa fa-trash-o"></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>